src/xsds/claimsBusinessService_xsd.xsd

<?xml version="1.0"?>
<schema targetNamespace="http://secureepas.claimsbusiness.citizens.com/schemas" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://secureepas.claimsbusiness.citizens.com/schemas" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <element name="userID" nillable="true" type="xsd:string"/>
  <element name="password" nillable="true" type="xsd:string"/>
  <element name="accountID" nillable="true" type="xsd:string"/>
  <element name="claimID" nillable="true" type="xsd:int"/>
  <element name="authorityLevel" nillable="true" type="xsd:string"/>
  <element name="string" nillable="true" type="xsd:string"/>
  <element name="int" nillable="true" type="xsd:int"/>
  <element name="policyID" nillable="true" type="xsd:string"/>
  <element name="userName" nillable="true" type="xsd:string"/>
  <element name="reserveType" nillable="true" type="xsd:string"/>
  <element name="coverageType" nillable="true" type="xsd:string"/>
  <element name="amount" nillable="true" type="xsd:double"/>
  <element name="claimIDList" nillable="true" type="xsd:string"/>
  <element name="maxClaims" nillable="true" type="xsd:int"/>
  <element name="vendorId" type="xsd:int"/>
  <element name="catIdentifier" nillable="true" type="xsd:string"/>
  <element name="createdDate" nillable="true" type="xsd:dateTime"/>
  <element name="createdBy" nillable="true" type="xsd:string"/>
  <element name="journalCode" nillable="true" type="xsd:string"/>
  <element name="subject" nillable="true" type="xsd:string"/>
  <element name="body" nillable="true" type="xsd:string"/>
  <element name="pingReturn" nillable="true" type="xsd:string"/>
  <element name="paymentType" nillable="true" type="xsd:string"/>
  <element name="adjustingFirmID" nillable="true" type="xsd:string"/>
  <element name="date" nillable="true" type="xsd:string"/>
  <element name="requestParameters" nillable="true" type="tns:RequestParameterTO"/>
  <element name="requestType" nillable="true" type="xsd:string"/>
  <element name="responseMsg" nillable="true" type="xsd:string"/>
  <element name="success" type="xsd:boolean"/>
  <element name="addJournalReturn" type="tns:AddJournalResponseTO"/>
  <element name="getClaimsPolicyInfoReturn" type="tns:ClaimsPolicyResponseTO"/>
  <element name="getClaimantInfoReturn" type="tns:ClaimantsResponseTO"/>
  <element name="getPaymentProcessingInfoReturn" type="tns:PaymentProcessingInfoResponseTO"/>
  <element name="getClaimDisbursementsForDateReturn" type="tns:ClaimDisbursementsResponseTO"/>
  <element name="getReserveDataReturn" type="tns:AvailableReservesTO"/>
  <element name="getFNOLInfoReturn" type="tns:FirstNoticeOfLossResponseTO"/>
  <element name="getFNOLClaimInfoReturn" type="tns:FirstNoticeOfLossResponseTO"/>
  <element name="getClaimsAccountingInfoReturn" type="tns:PRDResponseTO"/>
  <element name="submitClaimPaymentReturn" type="tns:PaymentRequestResponseTO"/>
  <element name="getJournalInfoReturn" type="tns:JournalsResponseTO"/>
  <element name="reopenClaimReturn" type="tns:OpenClaimsResponseTO"/>
  <element name="setReserveReturn" type="tns:CreateReservesTO"/>
  <element name="updateClaimAdjustingFirmReturn" type="tns:UpdateClaimsAdjustingFirmResponseTO"/>
  <element name="attachPublicAdjusterReturn" type="tns:AttachPublicAdjusterResponseTO"/>
  <element name="ping">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="pingResponse">
    <complexType>
      <sequence>
        <element ref="tns:pingReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="getReserveData">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
            <element ref="tns:policyID"/>
            <element ref="tns:userName"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="getReserveDataResponse">
    <complexType>
      <sequence>
        <element ref="tns:getReserveDataReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="addJournal">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:claimID"/>
            <element ref="tns:createdDate"/>
            <element ref="tns:createdBy"/>
            <element ref="tns:journalCode"/>
            <element ref="tns:subject"/>
            <element ref="tns:body"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="addJournalResponse">
    <complexType>
      <sequence>
        <element ref="tns:addJournalReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="reopenClaim">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
            <element ref="tns:userName"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="reopenClaimResponse">
    <complexType>
      <sequence>
        <element ref="tns:reopenClaimReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="getClaimsPolicyInfo">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="getClaimsPolicyInfoResponse">
    <complexType>
      <sequence>
        <element ref="tns:getClaimsPolicyInfoReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="getClaimantInfo">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="getClaimantInfoResponse">
    <complexType>
      <sequence>
        <element ref="tns:getClaimantInfoReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="getPaymentProcessingInfo">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
            <element ref="tns:paymentType"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="getPaymentProcessingInfoResponse">
    <complexType>
      <sequence>
        <element ref="tns:getPaymentProcessingInfoReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="getFNOLInfo">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
            <element ref="tns:catIdentifier"/>
            <element ref="tns:maxClaims"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="getFNOLInfoResponse">
    <complexType>
      <sequence>
        <element ref="tns:getFNOLInfoReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="getClaimsAccountingInfo">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="getClaimsAccountingInfoResponse">
    <complexType>
      <sequence>
        <element ref="tns:getClaimsAccountingInfoReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="getFNOLClaimInfo">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimIDList"/>
            <element ref="tns:maxClaims"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="getFNOLClaimInfoResponse">
    <complexType>
      <sequence>
        <element ref="tns:getFNOLClaimInfoReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="getClaimDisbursementsForDate">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
            <element ref="tns:date"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="getClaimDisbursementsForDateResponse">
    <complexType>
      <sequence>
        <element ref="tns:getClaimDisbursementsForDateReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateClaimAdjustingFirm">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:userName"/>
            <element ref="tns:claimID"/>
            <element ref="tns:adjustingFirmID"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="updateClaimAdjustingFirmResponse">
    <complexType>
      <sequence>
        <element ref="tns:updateClaimAdjustingFirmReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="getJournalInfo">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="getJournalInfoResponse">
    <complexType>
      <sequence>
        <element ref="tns:getJournalInfoReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="setReserve">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:claimID"/>
            <element ref="tns:policyID"/>
            <element ref="tns:userName"/>
            <element ref="tns:reserveType"/>
            <element ref="tns:coverageType"/>
            <element ref="tns:amount"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="setReserveResponse">
    <complexType>
      <sequence>
        <element ref="tns:setReserveReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="paymentRequestTO">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element name="accountID" nillable="true" type="xsd:string"/>
            <element name="claimID" nillable="true" type="xsd:int"/>
            <element name="closingPaymentFlag" nillable="true" type="xsd:string"/>
            <element name="cwopFlag" nillable="true" type="xsd:string"/>
            <element name="laeReserveOpenFlag" nillable="true" type="xsd:string"/>
            <element name="paymentId" nillable="true" type="xsd:int"/>
            <element maxOccurs="unbounded" name="checkRequest" nillable="true" type="tns:CheckRequestTO"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="submitClaimPaymentResponse">
    <complexType>
      <sequence>
        <element ref="tns:submitClaimPaymentReturn"/>
      </sequence>
    </complexType>
  </element>
  <element name="attachPublicAdjuster">
    <complexType>
      <complexContent>
        <extension base="tns:BaseRequestTO">
          <sequence>
            <element ref="tns:accountID"/>
            <element ref="tns:userName"/>
            <element ref="tns:claimID"/>
            <element ref="tns:vendorId"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="attachPublicAdjusterResponse">
    <complexType>
      <sequence>
        <element ref="tns:attachPublicAdjusterReturn"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="BaseResponseTO">
    <sequence>
      <element ref="tns:requestParameters" minOccurs="0" maxOccurs="unbounded"/>
      <element ref="tns:requestType"/>
      <element ref="tns:responseMsg"/>
      <element ref="tns:success"/>
    </sequence>
  </complexType>
  <complexType name="BaseRequestTO">
    <sequence>
      <element ref="tns:userID"/>
      <element ref="tns:password"/>
      <element ref="tns:authorityLevel"/>
    </sequence>
  </complexType>
  <complexType name="JournalsResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="journals" nillable="true" type="tns:JournalTO"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JournalTO">
    <sequence>
      <element name="body" nillable="true" type="xsd:string"/>
      <element name="claimID" nillable="true" type="xsd:int"/>
      <element name="createdBy" nillable="true" type="xsd:string"/>
      <element name="createdDate" nillable="true" type="xsd:dateTime"/>
      <element name="riskID" nillable="true" type="xsd:string"/>
      <element name="subject" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="FirstNoticeOfLossResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="fnol" nillable="true" type="tns:FirstNoticeOfLossTO"/>
          <element name="completeResponse" nillable="true" type="xsd:int"/>
          <element name="numClaims" nillable="true" type="xsd:int"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="JournalsResponseTO" nillable="true" type="tns:JournalsResponseTO"/>
  <complexType name="FirstNoticeOfLossTO">
    <sequence>
      <element name="catastropheName" nillable="true" type="xsd:string"/>
      <element name="causeOfLoss" nillable="true" type="xsd:string"/>
      <element name="claimContactBusiness" nillable="true" type="xsd:string"/>
      <element name="claimContactCell" nillable="true" type="xsd:string"/>
      <element name="claimContactEmail" nillable="true" type="xsd:string"/>
      <element name="claimContactFax" nillable="true" type="xsd:string"/>
      <element name="claimContactHome" nillable="true" type="xsd:string"/>
      <element name="claimContactName" nillable="true" type="xsd:string"/>
      <element name="claimContactOther" nillable="true" type="xsd:string"/>
      <element name="claimID" nillable="true" type="xsd:int"/>
      <element name="claimStatus" nillable="true" type="xsd:string"/>
      <element name="claimType" nillable="true" type="xsd:string"/>
      <element name="closedDate" nillable="true" type="xsd:dateTime"/>
      <element name="coverageAAmount" nillable="true" type="xsd:long"/>
      <element name="dateOfLoss" nillable="true" type="xsd:dateTime"/>
      <element name="dateReported" nillable="true" type="xsd:dateTime"/>
      <element name="descriptionOfLoss" nillable="true" type="xsd:string"/>
      <element name="floodCarrierName" nillable="true" type="xsd:string"/>
      <element name="insuredName" nillable="true" type="xsd:string"/>
      <element name="mobileHomeIndicator" nillable="true" type="xsd:int"/>
      <element name="policyForm" nillable="true" type="xsd:string"/>
      <element name="propertyCounty" nillable="true" type="xsd:string"/>
      <element name="propertyZipcode" nillable="true" type="xsd:string"/>
      <element name="publicAdjusterFlag" nillable="true" type="xsd:string"/>
      <element name="riskID" nillable="true" type="xsd:string"/>
      <element name="riskNotYetIssuedIndicator" nillable="true" type="xsd:int"/>
      <element name="severity" nillable="true" type="xsd:string"/>
      <element name="lossAssessmentFlag" nillable="true" type="xsd:int"/>
      <element name="servicerAssignment" nillable="true" type="xsd:string"/>
      <element name="floodIndicator" nillable="true" type="xsd:string"/>
      <element name="residenceUnlivable" nillable="true" type="xsd:string"/>
      <element name="lineOfBusiness" nillable="true" type="xsd:string"/>
      <element name="sinkHoleLossCoverage" nillable="true" type="xsd:string"/>
      <element name="optionalSinkHoleDeductible" nillable="true" type="xsd:string"/>
      <element name="priorPolicyNumber" nillable="true" type="xsd:string"/>
      <element minOccurs="0" maxOccurs="unbounded" name="underlyingCarrier" nillable="true" type="tns:UnderlyingCarrierTO"/>
      <element name="geoCode" nillable="true" type="tns:GeoCodeTO"/>
    </sequence>
  </complexType>
  <complexType name="UnderlyingCarrierTO">
    <sequence>
      <element name="carrierType" nillable="true" type="xsd:string"/>
      <element name="carrierName" nillable="true" type="xsd:string"/>
      <element name="carrierAddress" nillable="true" type="tns:AddressTO"/>
      <element name="carrierPhone" nillable="true" type="xsd:string"/>
      <element name="insuredPolicyNumber" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="GeoCodeTO">
    <sequence>
      <element name="cdsLongitude" type="xsd:double"/>
      <element name="cdsLatitude" type="xsd:double"/>
      <element name="geoResultInd" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <element name="FirstNoticeOfLossResponseTO" nillable="true" type="tns:FirstNoticeOfLossResponseTO"/>
  <complexType name="ClaimsPolicyResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="coverages" nillable="true" type="tns:CoverageTO"/>
          <element name="deductibles" nillable="true" type="tns:ClaimPolicyDeductibleTO"/>
          <element name="endorsements" nillable="true" type="tns:ClaimPolicyEndorsementsTO"/>
          <element name="header" nillable="true" type="tns:ClaimPolicyHeaderInfoTO"/>
          <element minOccurs="0" maxOccurs="unbounded" name="leinholders" nillable="true" type="tns:ClaimPolicyLeinholderTO"/>
          <element name="mailingAddress" nillable="true" type="tns:AddressTO"/>
          <element name="physicalAddress" nillable="true" type="tns:AddressTO"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ClaimPolicyDeductibleTO">
    <sequence>
      <element name="dedAOP" nillable="true" type="xsd:string"/>
      <element name="dedEarthquake" nillable="true" type="xsd:string"/>
      <element name="dedExtendedCov" nillable="true" type="xsd:string"/>
      <element name="dedHurricane" nillable="true" type="xsd:string"/>
      <element name="dedTheft" nillable="true" type="xsd:string"/>
      <element name="dedVMMCoverage" nillable="true" type="xsd:string"/>
      <element name="dedWindHail" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ClaimPolicyEndorsementsTO">
    <sequence>
      <element name="endorsements" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ClaimPolicyHeaderInfoTO">
    <sequence>
      <element name="agencyName" nillable="true" type="xsd:string"/>
      <element name="agencyPhoneNumber" nillable="true" type="xsd:string"/>
      <element name="claimID" nillable="true" type="xsd:int"/>
      <element name="coInsuredName" nillable="true" type="xsd:string"/>
      <element name="effectiveDate" nillable="true" type="xsd:dateTime"/>
      <element name="expirationDate" nillable="true" type="xsd:dateTime"/>
      <element name="insuredName" nillable="true" type="xsd:string"/>
      <element name="issuedFlag" nillable="true" type="xsd:string"/>
      <element name="riskID" nillable="true" type="xsd:string"/>
      <element name="riskIDEnd" nillable="true" type="xsd:string"/>
      <element name="riskIDRen" nillable="true" type="xsd:string"/>
      <element name="agencyePASId" type="xsd:int"/>
      <element name="agentDOI" nillable="true" type="xsd:string"/>
      <element name="agentePASId" type="xsd:int"/>
      <element name="agentName" nillable="true" type="xsd:string"/>
      <element name="agentWorkPhoneNumber" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ClaimPolicyLeinholderTO">
    <sequence>
      <element name="leinholderName" nillable="true" type="xsd:string"/>
      <element name="leinholderLoanNumber" nillable="true" type="xsd:string"/>
      <element name="leinholderAddress" nillable="true" type="xsd:string"/>
      <element name="leinholderZip" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <element name="ClaimsPolicyResponseTO" nillable="true" type="tns:ClaimsPolicyResponseTO"/>
  <complexType name="PaymentProcessingInfoResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="claimantInfoTO" nillable="true" type="tns:ClaimantInfoTO"/>
          <element name="claimPaymentInfoTO" nillable="true" type="tns:ClaimPaymentInfoTO"/>
          <element name="remainingReservesInfoTO" nillable="true" type="tns:RemainingReservesInfoTO"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ClaimantInfoTO">
    <sequence>
      <element name="claimantName" nillable="true" type="xsd:string"/>
      <element name="claimantType" nillable="true" type="xsd:string"/>
      <element name="claimantID" nillable="true" type="xsd:string"/>
      <element name="claimantAddress1" nillable="true" type="xsd:string"/>
      <element name="claimantAddress2" nillable="true" type="xsd:string"/>
      <element name="claimantAddress3" nillable="true" type="xsd:string"/>
      <element name="claimantState" nillable="true" type="xsd:string"/>
      <element name="claimantCity" nillable="true" type="xsd:string"/>
      <element name="claimantZip" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ClaimPaymentInfoTO">
    <sequence>
      <element name="lastPaymentCoverage" nillable="true" type="xsd:string"/>
      <element name="lastPaymentType" nillable="true" type="xsd:string"/>
      <element name="lastPaymentStatus" nillable="true" type="xsd:string"/>
      <element name="categoryForLastPayment" nillable="true" type="xsd:string"/>
      <element name="lastPaymentAmount" type="xsd:double"/>
      <element name="lastPaymentCreatedDate" nillable="true" type="xsd:string"/>
      <element name="claimStatus" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="RemainingReservesInfoTO">
    <sequence>
      <element name="coverageARemainingReserve" type="xsd:double"/>
      <element name="coverageBRemainingReserve" type="xsd:double"/>
      <element name="coverageCRemainingReserve" type="xsd:double"/>
      <element name="coverageDRemainingReserve" type="xsd:double"/>
      <element name="coverageERemainingReserve" type="xsd:double"/>
      <element name="coverageFRemainingReserve" type="xsd:double"/>
      <element name="coverageLRemainingReserve" type="xsd:double"/>
      <element name="coverageMRemainingReserve" type="xsd:double"/>
    </sequence>
  </complexType>
  <element name="PaymentProcessingInfoResponseTO" nillable="true" type="tns:PaymentProcessingInfoResponseTO"/>
  <complexType name="ClaimantsResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="claimant" nillable="true" type="tns:ClaimantTO"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ClaimantTO">
    <sequence>
      <element name="claimantAddress" nillable="true" type="tns:AddressTO"/>
      <element name="claimantAttorneyName" nillable="true" type="xsd:string"/>
      <element name="claimantContactPhone" nillable="true" type="xsd:string"/>
      <element name="claimantFEIN" nillable="true" type="xsd:string"/>
      <element name="claimantName" nillable="true" type="xsd:string"/>
      <element name="claimantPhonenumber" nillable="true" type="xsd:string"/>
      <element name="claimantType" nillable="true" type="xsd:string"/>
      <element name="claimantID" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <element name="ClaimantsResponseTO" nillable="true" type="tns:ClaimantsResponseTO"/>
  <complexType name="ClaimDisbursementsResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="allClaimDisbursementTO" nillable="true" type="tns:ClaimDisbursementTO"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ClaimDisbursementTO">
    <sequence>
      <element name="claimID" nillable="true" type="xsd:int"/>
      <element name="checkDate" nillable="true" type="xsd:string"/>
      <element name="checkNumber" nillable="true" type="xsd:int"/>
      <element name="disbursementCategory" nillable="true" type="xsd:string"/>
      <element name="disbursementAmount" nillable="true" type="xsd:double"/>
      <element name="disbursementCoverage" nillable="true" type="xsd:string"/>
      <element name="memo" nillable="true" type="xsd:string"/>
      <element name="checkStatus" nillable="true" type="xsd:string"/>
      <element name="payeeName" nillable="true" type="xsd:string"/>
      <element name="payeeAddress1" nillable="true" type="xsd:string"/>
      <element name="payeeAddress2" nillable="true" type="xsd:string"/>
      <element name="payeeAddress3" nillable="true" type="xsd:string"/>
      <element name="payeeCity" nillable="true" type="xsd:string"/>
      <element name="payeeState" nillable="true" type="xsd:string"/>
      <element name="payeeZip" nillable="true" type="xsd:string"/>
      <element name="refOutputId" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <element name="ClaimDisbursementsResponseTO" nillable="true" type="tns:ClaimDisbursementsResponseTO"/>
  <complexType name="RequestParameterTO">
    <sequence>
      <element name="parameterName" nillable="true" type="xsd:string"/>
      <element name="parameterValue" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="AddressTO">
    <sequence>
      <element name="addressCity" nillable="true" type="xsd:string"/>
      <element name="addressState" nillable="true" type="xsd:string"/>
      <element name="addressStreet" nillable="true" type="xsd:string"/>
      <element name="addressStreetTwo" nillable="true" type="xsd:string"/>
      <element name="addressZip" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="CheckRequestTO">
    <sequence>
      <element maxOccurs="unbounded" name="claimantInfo" nillable="true" type="tns:ClaimantsInfoTO"/>
      <element name="claimantIDForPay" nillable="true" type="xsd:string"/>
      <element name="paymentAmount" type="xsd:double"/>
      <element maxOccurs="unbounded" name="paymentInfo" nillable="true" type="tns:PaymentInfoTO"/>
      <element name="payToAddress1" nillable="true" type="xsd:string"/>
      <element name="payToAddress2" nillable="true" type="xsd:string"/>
      <element name="payToAddress3" nillable="true" type="xsd:string"/>
      <element name="payToCity" nillable="true" type="xsd:string"/>
      <element name="payToState" nillable="true" type="xsd:string"/>
      <element name="payToZip" nillable="true" type="xsd:string"/>
      <element name="payToZip4" nillable="true" type="xsd:string"/>
      <element name="paymentMemo" nillable="true" type="xsd:string"/>
      <element name="payMailTo" nillable="true" type="xsd:string"/>
      <element name="payToProvince" nillable="true" type="xsd:string"/>
      <element name="payToCountry" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ClaimantsInfoTO">
    <sequence>
      <element name="claimantID" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="PaymentInfoTO">
    <sequence>
      <element name="coverageType" nillable="true" type="xsd:string"/>
      <element name="appliedTo" nillable="true" type="xsd:string"/>
      <element name="paymentAmount" type="xsd:double"/>
      <element name="paymentCategory" nillable="true" type="xsd:string"/>
      <element name="paymentType" nillable="true" type="xsd:string"/>
      <element name="refOutputID" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="PaymentRequestResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="checkRequest" nillable="true" type="tns:CheckRequestTO"/>
          <element name="failedCheckRequest" nillable="true" type="tns:CheckRequestTO"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="PaymentRequestResponseTO" nillable="true" type="tns:PaymentRequestResponseTO"/>
  <complexType name="PRDResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element name="claimID" nillable="true" type="xsd:int"/>
          <element minOccurs="0" maxOccurs="unbounded" name="indemnityLedger" nillable="true" type="tns:PRDIndemnityLedgerTO"/>
          <element minOccurs="0" maxOccurs="unbounded" name="indemnityReserve" nillable="true" type="tns:PRDIndemnityReserveTO"/>
          <element name="indemnitySummary" nillable="true" type="tns:PRDIndemnitySummaryTO"/>
          <element minOccurs="0" maxOccurs="unbounded" name="laeLedger" nillable="true" type="tns:PRDLaeLedgerTO"/>
          <element minOccurs="0" maxOccurs="unbounded" name="laeReserve" nillable="true" type="tns:PRDLaeReserveTO"/>
          <element name="laeSummary" nillable="true" type="tns:PRDLaeSummaryTO"/>
          <element minOccurs="0" maxOccurs="unbounded" name="salvageLedger" nillable="true" type="tns:PRDSalvageLedgerTO"/>
          <element minOccurs="0" maxOccurs="unbounded" name="salvageReserve" nillable="true" type="tns:PRDSalvageReserveTO"/>
          <element minOccurs="0" maxOccurs="unbounded" name="subroLedger" nillable="true" type="tns:PRDSubroLedgerTO"/>
          <element minOccurs="0" maxOccurs="unbounded" name="subroReserve" nillable="true" type="tns:PRDSubroReserveTO"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PRDIndemnityLedgerTO">
    <sequence>
      <element name="amount" nillable="true" type="xsd:double"/>
      <element name="coverage" nillable="true" type="xsd:string"/>
      <element name="date" nillable="true" type="xsd:dateTime"/>
      <element name="category" nillable="true" type="xsd:string"/>
      <element name="code" nillable="true" type="xsd:string"/>
      <element name="refOutputId" nillable="true" type="xsd:string"/>
      <element name="paymentId" nillable="true" type="xsd:int"/>
    </sequence>
  </complexType>
  <complexType name="PRDIndemnityReserveTO">
    <sequence>
      <element name="amount" nillable="true" type="xsd:double"/>
      <element name="coverage" nillable="true" type="xsd:string"/>
      <element name="date" nillable="true" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="PRDIndemnitySummaryTO">
    <sequence>
      <element name="gcaAmount" nillable="true" type="xsd:double"/>
      <element name="indemnityClose" nillable="true" type="xsd:dateTime"/>
      <element name="indemnityOpen" nillable="true" type="xsd:dateTime"/>
      <element name="indemnityStatus" nillable="true" type="xsd:string"/>
      <element name="totalPaymentDeposits" nillable="true" type="xsd:double"/>
      <element name="totalPendingPayments" nillable="true" type="xsd:double"/>
      <element name="totalPendingreserves" nillable="true" type="xsd:double"/>
      <element name="totalReserves" nillable="true" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="PRDLaeLedgerTO">
    <sequence>
      <element name="amount" nillable="true" type="xsd:double"/>
      <element name="coverage" nillable="true" type="xsd:string"/>
      <element name="date" nillable="true" type="xsd:dateTime"/>
      <element name="category" nillable="true" type="xsd:string"/>
      <element name="code" nillable="true" type="xsd:string"/>
      <element name="lossExpense" nillable="true" type="xsd:string"/>
      <element name="adjustingFirm" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="PRDLaeReserveTO">
    <sequence>
      <element name="amount" nillable="true" type="xsd:double"/>
      <element name="coverage" nillable="true" type="xsd:string"/>
      <element name="date" nillable="true" type="xsd:dateTime"/>
      <element name="lossExpense" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="PRDLaeSummaryTO">
    <sequence>
      <element name="laeClose" nillable="true" type="xsd:dateTime"/>
      <element name="laeOpen" nillable="true" type="xsd:dateTime"/>
      <element name="laeStatus" nillable="true" type="xsd:string"/>
      <element name="paymentMethod" nillable="true" type="xsd:string"/>
      <element name="totalPaymentDeposits" nillable="true" type="xsd:double"/>
      <element name="totalPendingPayments" nillable="true" type="xsd:double"/>
      <element name="totalPendingreserves" nillable="true" type="xsd:double"/>
      <element name="totalReserves" nillable="true" type="xsd:double"/>
    </sequence>
  </complexType>
  <complexType name="PRDSalvageLedgerTO">
    <sequence>
      <element name="amount" nillable="true" type="xsd:double"/>
      <element name="category" nillable="true" type="xsd:string"/>
      <element name="code" nillable="true" type="xsd:string"/>
      <element name="coverage" nillable="true" type="xsd:string"/>
      <element name="date" nillable="true" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="PRDSalvageReserveTO">
    <sequence>
      <element name="amount" nillable="true" type="xsd:double"/>
      <element name="coverage" nillable="true" type="xsd:string"/>
      <element name="date" nillable="true" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="PRDSubroLedgerTO">
    <sequence>
      <element name="amount" nillable="true" type="xsd:double"/>
      <element name="category" nillable="true" type="xsd:string"/>
      <element name="code" nillable="true" type="xsd:string"/>
      <element name="coverage" nillable="true" type="xsd:string"/>
      <element name="date" nillable="true" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <complexType name="PRDSubroReserveTO">
    <sequence>
      <element name="amount" nillable="true" type="xsd:double"/>
      <element name="coverage" nillable="true" type="xsd:string"/>
      <element name="date" nillable="true" type="xsd:dateTime"/>
    </sequence>
  </complexType>
  <element name="PRDResponseTO" nillable="true" type="tns:PRDResponseTO"/>
  <complexType name="CreateReservesTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="CreateReservesTO" nillable="true" type="tns:CreateReservesTO"/>
  <complexType name="AvailableReservesTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="reserves" nillable="true" type="tns:OpenReserveTO"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OpenReserveTO">
    <sequence>
      <element name="coverageType" nillable="true" type="xsd:string"/>
      <element name="remainingReserve" nillable="true" type="xsd:double"/>
      <element name="reserveType" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <element name="AvailableReservesTO" nillable="true" type="tns:AvailableReservesTO"/>
  <complexType name="CoverageTO">
    <sequence>
      <element name="coverageAmount" nillable="true" type="xsd:long"/>
      <element name="coverageType" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="AddJournalResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="AddJournalResponseTO" nillable="true" type="tns:AddJournalResponseTO"/>
  <complexType name="OpenClaimsResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element name="claimID" nillable="true" type="xsd:string"/>
          <element name="riskID" nillable="true" type="xsd:string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="OpenClaimsResponseTO" nillable="true" type="tns:OpenClaimsResponseTO"/>
  <complexType name="UpdateClaimsAdjustingFirmResponseTO">
    <complexContent>
      <extension base="tns:BaseResponseTO">
        <sequence>
          <element name="claimID" nillable="true" type="xsd:string"/>
          <element name="adjustingFirmCity" nillable="true" type="xsd:string"/>
          <element name="adjustingFirmID" nillable="true" type="xsd:string"/>
          <element name="adjustingFirmName" nillable="true" type="xsd:string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="UpdateClaimsAdjustingFirmResponseTO" nillable="true" type="tns:UpdateClaimsAdjustingFirmResponseTO"/>
  <complexType name="AttachPublicAdjusterResponseTO">
    <sequence>
      <element ref="tns:responseMsg"/>
      <element ref="tns:success"/>
    </sequence>
  </complexType>
</schema>